@page
@{
    ViewData["Title"] = "Bot-assistant";
}

<!-- Information card -->
<section class="info-card">
    <div class="info-card__block">
        <div class="info-card__flex">
            <div class="info-card__col-1">
                <img class="info-card__avatar" src="~/images/vadym-kaninskyi.jpg" alt="Bot-assistant">
            </div>
            <div class="info-card__col-2">
                <h2 class="info-card__title">Bot-assistant</h2>
                <p class="info-card__description">
                    Den personlige assistentbotten bruker ChatGPT-teknologi for å behandle meldinger fra brukerne. 
                    Boten takler oppgavene sine godt i Telegram-chatter.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bot-testing bot-testing--gray">
    <div class="bot-testing__container">
        <h2 class="bot-testing__title">Prøv boten nå</h2>
        <textarea id="test-area" class="bot-testing__textarea bot-testing__textarea--green h-24" disabled>Det blir et sporsmål</textarea>
        <p class="bot-testing__button-wrap">
            <button id="btn-test" href="javascript:;" class="bot-testing__button">
                <img src="/img/gdg-loading.gif" id="js-test-ico" style="display: none;">
                <span id="js-test-text">Test</span>
            </button>
        </p>
        <textarea id="result-area" class="bot-testing__textarea h-64" disabled>Det blir resultaten</textarea>
    </div>
</section>

<script src="~/js/bot.js" asp-append-version="true"></script>
