@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section>
    <img src="~/images/vadym-kaninskyi.jpg" alt="Vadym Kaninskyi" width="200" height="200">
    <h2>Vadym Kaninskyi</h2>
</section>
