@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Information card -->
<section class="info-card">
    <div class="info-card__block">
        <div class="info-card__flex">
            <div class="info-card__col-1">
                <img class="info-card__avatar" src="~/images/vadym-kaninskyi.jpg" alt="Вадим Канинский" width="200" height="200">
            </div>
            <div class="info-card__col-2">
                <h2 class="info-card__title">Vadym Kaninskyi</h2>
                <p class="info-card__description">
                    Hei. Jeg er en kvalifisert programmerer. Jeg utvikler nettsider, boter og mobile applikasjoner. 
                    Jeg lager digitale produkter og samler folk sammen.
                </p>
            </div>
        </div>
    </div>
</section>
