@page
@model IndexModel
@{
    ViewData["Title"] = "Personlig nettside";
}

<!-- Information card -->
<section class="info-card">
    <div class="info-card__block">
        <div class="info-card__flex">
            <div class="info-card__col-1">
                <img class="info-card__avatar" src="~/images/vadym-kaninskyi.jpg" alt="Вадим Канинский">
            </div>
            <div class="info-card__col-2">
                <h2 class="info-card__title">Vadym Kaninskyi</h2>
                <p class="info-card__description">
                    Hei sann. Jeg er en kvalifisert programmerer. Jeg utvikler nettsider, boter og mobile applikasjoner. 
                    Jeg lager digitale produkter og samler folk sammen.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio -->
<section class="portfolio">
    <div class="portfolio__container">
        <h2 class="portfolio__title">Portefølje og prosjekter</h2>

        <div class="portfolio__projects">
            <!-- Project 1: borinorge -->
            <div class="portfolio__project">
                <div class="project-card">
                    <h3 class="project-card__title">Borinorge</h3>
                    <p class="project-card__description">Nettstedet er en samling av porteføljer fra ukrainere som nå bor i Norge.</p>
                    <a class="project-card__link" href="https://borinorge.org/">
                        Besøk nettside
                    </a>
                </div>
            </div>

            <!-- Project 2: vadimcppbot -->
            <div class="portfolio__project">
                <div class="project-card">
                    <h3 class="project-card__title">Bot-assistant</h3>
                    <p class="project-card__description">Utfører rutinearbeid i chatter ved hjelp av ChatGPT-teknologi.</p>
                    <a class="project-card__link" asp-page="/Bot">
                        Les mer
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Article -->
<section class="article" id="selvbiografi">
    <div class="article__container">
        <h2 class="article__title">Selvbiografi</h2>
        <p class="article__paragraph">
            Han ble født 1. september 1984 i byen Lviv i en ingeniørfamilie.
            I 2002 fullførte han en skole med fokus på matematikk og begynte
            på jernbanuniversitetet i byen Dnipro i fakultetet for "Teknisk kybernetikk".
            I 2007 oppnådde han en spesialistgrad i "Programvare for automatiserte systemer" og
            startet sin yrkeskarriere ved beregningsenteret til Lviv jernbane.
        </p>
        <p class="article__paragraph">
            I 2019 fortsatte jeg studiene som doktorgradsstipendiat ved Det baltiske føderale 
            universitetet i Kaliningrad med det formål å fordype meg i informasjonsteknologi 
            og den digitale sfærens innvirkning på samfunnet. Jeg forsker på byfellesskap som 
            nye former for borgerdeltakelse.
        </p>
        <p class="article__paragraph">
            Fra 2022 befinner jeg meg i utvandring og engasjerer meg i selvstudium samtidig 
            som jeg fortsetter å jobbe som programmerer.
        </p>
    </div>
</section>
