@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment WebHostEnvironment
@{
    string? footerTextFromConfig = Environment.GetEnvironmentVariable("FOOTER_TEXT");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - vadimcpp.no</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="header__container">
            <h1 class="header__title">@ViewData["Title"]</h1>
        </div>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="footer__container">
            <div class="footer__title">
                Personvernregler
            </div>
            <div class="footer__text">
                Nettstedet samler ikke inn noen personlig informasjon og tilbyr ingen tjenester.
            </div>
            @if (!string.IsNullOrEmpty(@footerTextFromConfig))
            {
                <p class="footer__text">@footerTextFromConfig</p>
            }
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>